@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.calculator {
 padding: 10px;
 border-radius: 1em;
 height: 380px;
 width: 400px;
 margin: auto;
 background-color: #808080;
 box-shadow: rgb(0 0 0 / 19%) -10px 9px 14px 6px, rgb(0 0 0 / 23%) 7px -4px 9px 9px;
}
body
{
    background-image: url('cal-bg.jpg');
}
.outer
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.display-box {
padding-left: 10px;
font-weight: 600;
font-size: 20px;
 font-family: 'Orbitron', sans-serif;
 background-color: #f8f8ff;
 border: solid black 0.5px;
 color: black;
 border-radius: 5px;
 width: 95%;
 height: 65%;
}
.button {
 font-family: 'Orbitron', sans-serif;
 background-color: #c0c0c0;
 color: white;
 border: solid black 0.5px;
 width: 100%;
 border-radius: 5px;
 height: 70%;
 outline: none;
}
.button:hover
{
    background-color: #d7d5d5;

}
.button:active {
 background: #e5e5e5;
 -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
 -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
 box-shadow: inset 0px 0px 5px #c1c1c1;
}
td
{
    width: 25%;
}